In [ ]:
import pandas as pd

In [ ]:
aapl = pd.read_csv('/content/drive/MyDrive/aapl.csv')
fb = pd.read_csv('/content/drive/MyDrive/fb.csv')
amzn = pd.read_csv'/content/drive/MyDrive/amzn.csv')
nflx = pd.read_csv('/content/drive/MyDrive/nflx.csv')
goog = pd.read_csv('/content/drive/MyDrive/goog.csv')

In [ ]:
aapl['ticker'] = 'aapl'
fb['ticker'] = 'fb'
amzn['ticker'] = 'amzn'
nflx['ticker'] = 'nflx'
goog['ticker'] = 'goog'

In [ ]:
faang = pd.concat([aapl, fb, amzn, nflx, goog]).sort_index()
data.head()

           date         high          low  ...        close       volume  ticker
0    2018-01-02    43.075001    42.314999  ...    43.064999  102223600.0    aapl
1    2018-01-03    43.637501    42.990002  ...    43.057499  118071600.0    aapl
2    2018-01-04    43.367500    43.020000  ...    43.257500   89738400.0    aapl
3    2018-01-05    43.842499    43.262501  ...    43.750000   94640000.0    aapl
4    2018-01-08    43.902500    43.482498  ...    43.587502   82271200.0    aapl
..          ...          ...          ...  ...          ...          ...     ...
246  2018-12-24  1003.539978   970.109985  ...   976.219971    1590300.0    goog
247  2018-12-26  1040.000000   983.000000  ...  1039.459961    2373300.0    goog
248  2018-12-27  1043.890015   997.000000  ...  1043.880005    2109800.0    goog
249  2018-12-28  1055.560059  1033.099976  ...  1037.079956    1414800.0    goog
250  2018-12-31  1052.699951  1023.590027  ...  1035.609985    1493300.0    goog

[1255 rows x 7 columns]

In [ ]:
data.to_csv('faang.csv')

In [ ]:
data.date = pd.to_datetime(data.date)

In [ ]:
faang.date = pd.to_datetime(faang.date)
faang.volume = pd.to_numeric(faang.volume)
faang.sort_values(by=['date', 'ticker'])

          date         high          low  ...        close       volume  ticker
0   2018-01-02    43.075001    42.314999  ...    43.064999  102223600.0    aapl
0   2018-01-02  1190.000000  1170.510010  ...  1189.010010    2694500.0    amzn
0   2018-01-02   181.580002   177.550003  ...   181.419998   18151900.0      fb
0   2018-01-02  1066.939941  1045.229980  ...  1065.000000    1237600.0    goog
0   2018-01-02   201.649994   195.419998  ...   201.070007   10966900.0    nflx
..         ...          ...          ...  ...          ...          ...     ...
250 2018-12-31    39.840000    39.119999  ...    39.435001  140014000.0    aapl
250 2018-12-31  1520.760010  1487.000000  ...  1501.969971    6954500.0    amzn
250 2018-12-31   134.639999   129.949997  ...   131.089996   24625300.0      fb
250 2018-12-31  1052.699951  1023.590027  ...  1035.609985    1493300.0    goog
250 2018-12-31   270.100006   260.000000  ...   267.660004   13508900.0    nflx

[1255 rows x 7 columns]

In [ ]:
faang.sort_values(by='volume')[0:7]

          date         high          low  ...        close    volume  ticker
126 2018-07-03  1135.819946  1100.020020  ...  1102.890015  679000.0    goog
226 2018-11-23  1037.589966  1022.398987  ...  1023.880005  691500.0    goog
99  2018-05-24  1080.469971  1066.150024  ...  1079.239990  766800.0    goog
130 2018-07-10  1159.589966  1149.589966  ...  1152.839966  798400.0    goog
152 2018-08-09  1255.541992  1246.010010  ...  1249.099976  848600.0    goog
159 2018-08-20  1211.000000  1194.625977  ...  1207.770020  870800.0    goog
161 2018-08-22  1211.839966  1199.000000  ...  1207.329956  887400.0    goog

[7 rows x 7 columns]

In [ ]:
covid_19 = pd.read_csv('/content/drive/MyDrive/covid19_cases.csv')

In [ ]:
covid_19.head(5)

      dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0  01/01/2020  ...                                                NaN
1  01/01/2020  ...                                                NaN
2  01/01/2020  ...                                                NaN
3  01/01/2020  ...                                                NaN
4  01/01/2020  ...                                                NaN

[5 rows x 12 columns]

In [ ]:
covid_19['Date'] = pd.to_datetime(covid_19.dateRep)
covid_19.head(5)

      dateRep  ...       Date
0  01/01/2020  ... 2020-01-01
1  01/01/2020  ... 2020-01-01
2  01/01/2020  ... 2020-01-01
3  01/01/2020  ... 2020-01-01
4  01/01/2020  ... 2020-01-01

[5 rows x 13 columns]

In [ ]:
covid_19.set_index('Date')
covid_19.sort_values(by='Date').head(5)

       dateRep  ...       Date
0   01/01/2020  ... 2020-01-01
36  01/01/2020  ... 2020-01-01
37  01/01/2020  ... 2020-01-01
38  01/01/2020  ... 2020-01-01
39  01/01/2020  ... 2020-01-01

[5 rows x 13 columns]

In [ ]:
covid_19 = covid_19.replace(to_replace='United_States_of_America', value='USA')
covid_19 = covid_19.replace(to_replace='United_Kingdom', value='UK')
covid_19[covid_19.countriesAndTerritories=='UK']

          dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
64     01/01/2020  ...                                                NaN
75     02/01/2020  ...                                                NaN
149    03/01/2020  ...                                                NaN
208    04/01/2020  ...                                                NaN
286    05/01/2020  ...                                                NaN
...           ...  ...                                                ...
42469  14/09/2020  ...                                          51.070480
42739  15/09/2020  ...                                          52.893515
42945  16/09/2020  ...                                          55.606310
43180  17/09/2020  ...                                          59.331903
43384  18/09/2020  ...                                          61.822634

[262 rows x 12 columns]

In [ ]:
covid_19[covid_19.countriesAndTerritories.str.contains('Argentina|Brazil|China|Colombia|India|Italy|Mexico|Peru|Russia|Spain|Turkey|UK|USA', regex=True)]

          dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
10     01/01/2020  ...                                                NaN
14     01/01/2020  ...                                                NaN
21     01/01/2020  ...                                                NaN
27     01/01/2020  ...                                                NaN
29     01/01/2020  ...                                                NaN
...           ...  ...                                                ...
43384  18/09/2020  ...                                          61.822634
43411  18/09/2020  ...                                         203.361408
43418  18/09/2020  ...                                         159.179230
43428  18/09/2020  ...                                          33.321987
43434  18/09/2020  ...                                         300.510940

[3121 rows x 12 columns]

In [ ]:
df_new = covid_19.pivot(index='dateRep', columns='countriesAndTerritories', values='cases').fillna(0)
df_new

countriesAndTerritories  Afghanistan  Albania  Algeria  ...  Yemen  Zambia  Zimbabwe
dateRep                                                 ...
01/01/2020                       0.0      0.0      0.0  ...    0.0     0.0       0.0
01/02/2020                       0.0      0.0      0.0  ...    0.0     0.0       0.0
01/03/2020                       0.0      0.0      2.0  ...    0.0     0.0       0.0
01/04/2020                      25.0     20.0    132.0  ...    0.0     0.0       1.0
01/05/2020                     222.0      7.0    158.0  ...    0.0     9.0       0.0
...                              ...      ...      ...  ...    ...     ...       ...
31/01/2020                       0.0      0.0      0.0  ...    0.0     0.0       0.0
31/03/2020                      27.0     11.0     73.0  ...    0.0     6.0       0.0
31/05/2020                     866.0     23.0    133.0  ...   23.0     0.0      14.0
31/07/2020                      71.0     92.0    602.0  ...   15.0   306.0     213.0
31/08/2020                      19.0    101.0    364.0  ...    6.0   123.0       6.0

[262 rows x 210 columns]